@media (min-width:42rem) {
    #cabinet .container{
        display: grid;
        gap: 1em;
        grid-template-columns: auto auto;
    }
}

.cabinet-main {
    border: 1px dotted red;
    &.cabinet-main form button {
        margin-top: 1em;
    }
}

.cabinet-sidebar {
    border: 1px dotted gold;
    &.cabinet-sidebar form button {
        margin-top: 13.1rem;
    }
}

.cabinet-main form, .cabinet-sidebar form {
    display: grid;
    gap: 1em;
    text-align: center;
    margin-top: .4rem;
}

.cabinet-sidebar input, .cabinet-main input {
    margin: 1rem;
}
