/* main.css */
@charset "UTF-8";
@import url(about.css);
@import url(checkout.css);
@import url(carousel.css);
@import url(/css/dialog.css);
@import url(cart.css);
@import url(blog.css);
@import url(contact.css);
@import url(breadcrumb.css);
@import url(app.css);
@import url(common.css);
@import url(nav.css);
@import url(hero.css);
@import url(catalog.css);
@import url(footer.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css);
body {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    font-family: var(--primary-font-family);
    font-size: var(--primary-font-size);
}

/* 9. Встановити, за допомогою визначених у файлі css/common.css змінних, властивості елемента body:
font-family
font-size
Встановити властивість font-weight: 700 для елементів h1, h2, h3
Встановити властивість font-size: 1.45rem для елемента h1
Встановити властивість font-size: 1.3rem для елемента h2
Визначити клас .list-unstyled з властивістю list-style: none
Визначити клас .footer-social */

h1, h2, h3 {
    font-weight: 700;
}
h1 {
    font-size: 1.45rem;
}
h2 {
    font-size: 1.3rem;
}
.list-unstyled {
    list-style: none;
}
.footer-social {
    /* якісь стилі */
}

/* ДЗ-06 13. - Відредагуйте файл css/main.css
	- Визначити клас text-uppercase з властивістю text-transform: uppercase;
	- Визначити клас bg-dark з властивістю background-color: black
	- Визначити клас text-white з властивістю color: white
	- Визначити селектор ul.categories li a з властивостями color: indigo, text-decoration: none, font-size: 1.2rem
	- Визначити селектор ul.categories li a з властивостями ul.categories li a:hover, background-color: lightgray
*/
aside {
    .text-uppercase {
        text-transform: uppercase;
    }
    .bg-dark {
        background-color: #000;
    }
    .text-white {
        color: #fff;
    }
}
ul.categories {
    >  li a {
    color: indigo;
    text-decoration: none;
    font-size: 1.2rem;
    }
    > li a:hover {
        background-color: lightgrey;
    }
}

