.footer {
    /* color: var(--anchor-color); */
    position: relative;
    list-style: none;
    margin-top: 10rem;
 
    & .footer-image {
        position: absolute;
        width: 100%; 
        height: auto;
        max-height: 200px;

    }
    .footer-section {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 2rem;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 100%;
        text-align: center;
        .services a:hover,
        .commmunicate a:hover {
            color: var(--anchor-active-color);
            text-decoration: underline;
        }
        .commmunicate ul {
            display: flex;
            flex-direction: column;
        }
        & div {
            flex: 1;
            margin-right: 20px;
        }  
        .footer-ligal {
            color:black;
            position: absolute;
            bottom: .23rem;
            text-align: center;
        }  
    }
    
}






