.header {
    text-align: center;
    font-weight: 500;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    /* color: var(--anchor-color); */
    /* position: relative; */

    & .banner-image {
        width: 100%; 
        height: auto; 
        max-height: 130px; 

    }
    .navbar {
        position: absolute; 
        top: 10px; 
        left: 20px;
        & a {
            font-size: 1.1rem;
            display: inline-block;
            padding: 10px 20px;
        }
        & a:hover{
            color: var(--anchor-active-color);
            text-decoration: underline;
        }
    }
    .toolbar {
        position: absolute; 
        top: 10px; 
        right: 190px;
        & a {
            font-size: 1.1rem;
        }
        & a:hover{
            color: var(--anchor-active-color);
            text-decoration: underline;
        }
    }
    .sign-up {
        position: absolute; 
        top: 10px; 
        right: 20px;
        font-size: 1rem;
        & a:hover{
            color: var(--anchor-active-color);
            text-decoration: underline;
        }
    }
    #search-form {
        position: absolute; 
        top: 10px; 
        left: 37.5rem;
        font-size: 1.1rem;
    }
    .header-social-list {
        position: absolute; 
        bottom: 1rem; 
        right: .1rem; 
        font-size: 2rem;
        & li a {
            display: inline-block;
            transition: transform 0.3s ease-in-out;
            
        }
        & li a:hover {
            transform: rotate(360deg);
            color: var(--anchor-active-color);
        }
    }    
}












