/* main */
/* 2. Відредагуйте файл css/main.css визначити для усіх елементів h1, h2, h3 на веб-сторінці властивість колір тексту = сірий.
вибрати елемент з ідентифікатором main, визначити для нього властивість color: #e60202;.
вибрати елементи з класом h2, визначити для нього властивість color: червоний.
Виділити всі елементи з класом heading та встановити для них колір тексту у зелений. */
/* 3. - Відредагуйте файл css/main.css
 section > p {
  color: red;
 }
- Чи зміниться колір тексту p всередині елемента div? 
Ні, не зміниться, бо ми вказали тільки дочірнім елементом p.
- змінити розмір шрифту всіх елементів p всередині елемента section, незалежно від їхнього рівня вкладеності. */

h1, h2, h3 {
    color: grey;
}

#main {
    color: #e60202;
}

.h2 {
    color: red;
}

.heading {
    color: green
}

ul > li {
    font-weight: bold;
}

section > p {
    color: red;
}

section p {
    font-size: x-large;
}

/* - змінити колір тексту на indigo першого елемента h2, а не всіх елементів h2.
тут я тільки так зрозуміла як його зробити, або ж писати для першого h2 class або id
*/
div h2:first-of-type {
    color: indigo;
}

p.first a {
    color: green;
}

div ~ p {
    color: salmon;
}
/* 5. Маємо іменовані кольори black, blue, green, red, white, yellow

визначати ці кольори за допомогою шістнадцяткового коду: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, A, B, C, D, E, F.
визначати ці кольори у десятковій системі числення за допомогою функції RGB.
визначати ці кольори, використовуючи відсотки.
визначати ці кольори використовуючи альфа-канал, що задає прозорість.
-шістнадцятковий код: */
.black {
    color: #000000;
}

.blue {
    color: #0000FF;
}

.green {
    color: #008000;
}

.red {
    color: #FF0000;
}

.white {
    color: #FFFFFF;
}

.yellow {
    color: #FFFF00;
}
/* RGB у десятковій системі: */

.black {
    color: rgb(0 0 0);
}
.blue {
    color: rgb(0 0 255);
}
.green {
    color: rgb(0 128 0);
}
.red {
    color: rgb(255 0 0);
}
.white {
    color: rgb(255 255 255);
}
.yellow {
    color: rgb(255 255 0);
}
/* відсотки */

.black {
    color: rgb(0% 0% 0%);
}

.blue {
    color: rgb(0% 0% 100%);
}

.green {
    color: rgb(0% 50% 0%);
}

.red {
    color: rgb(100% 0% 0%);
}

.white {
    color: rgb(100% 100% 100%);
}

.yellow {
    color: rgb(100% 100% 0%);
}
/* альфа-канал */

.black {
    color: rgba(0 0 0 / 1);
}

.blue {
    color: rgba(0 0 255 / 1);
}

.green {
    color: rgba(0 255 0 / 1);
}

.red {
    color: rgba(255 0 0 / 1);
}

.white {
    color: rgba(255 255 255 / 1);
}

.yellow {
    color: rgba(255 255 0 / 1);
}
/* 6. Використовцючи hsl, створіть для класу translucent-box напівпрозору властивість background з такими значеннями:
    - Hue = 0deg
    - Saturate =  100%
    - Lightness =  50% */
.translucent-box {
    background: hsl(0deg 100% 50% / 0.5);
}
/*   7. базовий розмір шрифта для кореневого елемента = 100%
визначити розмір шрифта для body, що успадковує розмір шрифта кореневого елемента, збільшений на 40 відсотків
визначити розмір шрифта для h1, що успадковує розмір шрифта кореневого елемента, збільшений на 140 відсотків */
html {
    font-size: 100%; 
} 
/* 100% Це буде 16px = 1em */
body {
    font-size: 140%;
}
/* 140% = 1.4em */
h1 {
    font-size: 240%;
}
/* 240% = 2.4em */